/* === General Styles === */

:root {
  font-family: Inter, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 11rem 1rem 1rem 1rem;
  max-width: 74rem;
  background-color: hsl(244, 38%, 16%);
  display: inline-flex;
  flex-direction: row-reverse;
  border-radius: .5rem;
}

/* == Jumbo Image Styles === */

.overlay {
  max-width: 36rem;
  max-height: 30rem;
  display: flex;
  background: hsl(277, 64%, 61%);
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: .8;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

/* === Text Box Styles === */

section {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 2rem;
  max-width: 26rem;
  color: hsl(0, 0%, 100%);
  margin-left: 4rem;
  margin-right: 4rem;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0;
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(277, 64%, 61%);
}

p {
  line-height: 1.8rem;
  font-size: 1rem;
  max-width: 25rem;
  color: hsla(0, 0%, 100%, 0.75);
  margin-left: 4rem;
  margin-right: 4rem;
}

li p {
  margin: 0;
  fon-size: .75rem;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  text-align: center;
}

ul {
  margin-left: 4rem;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  max-width: 26rem;
}

li {
  display: flex;
  flex-direction: column;
  max-width: 8rem;
}

/* === Footer Styles === */

footer {
  margin: 3rem;
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    margin: 1rem;
  }

  .overlay {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: 0;
  }

  img {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: 0;
  }

  h1 {
    margin: 2rem;
  }

  p {
    margin: 2rem;
  }

  ul {
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
  }
}
